@media screen and (max-width: 1000px) 
{
    .cabecera_menu
    {
        display: none;
    }    
    .cabecera 
    {
        height: 10vh;
    }
    .cabecera_button
    {
        display:flex ;
        position: absolute;
    }
    .cabecera_contenedor
    {
        flex-direction: row;
        position: relative;
    }
    .menu_slider
    {
        display: block;
    }
}